[Unit]
Description=Periodically check for a new simbeam-signal release

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
